/*------
parts
-----*/


/*----
検索ボックス
-----*/
span.genrebox {
    width: 30%;
}

/*検索ボックスのジャンル選択プルダウン*/
select#genre_select {
    border-radius: 1rem 0 0 1rem;
    border-right: 0px;
}


//検索プルダウンのまるみ
.stock_thumbnail {
    position: relative;
}

button#search_button {
    border-radius: 0 1rem 1rem 0 !important;
    border-left: 0;
    background-color: #fff;
    border-color: #ced4da;
}

#search_keyword {
    border-left: 0;
    border-right: 0;
}

/*---
footer
--*/
/*footer色*/
footer.footer_design.bg-dark {
    color: #fff;
}

.footer_design {
    text-align: center;
    padding: 60px;
}

/*---
archive
---*/
/*サムネイルの左下に出るジャンル判別アイコン*/
.genre_icon {
    color: #adb5bd99;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    bottom: 0%;
    left: 0%;
    margin: 8px;
}


.favorite_icon {
    color: #adb5bd99;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 8px;
}

.download_icon {
    color: #adb5bd99;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin: 0px;
}

.favorite_icon button {
    background-color: #adb5bd99;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    opacity: 0.5;
}

.download_icon button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    opacity: 0.5;
}

div.stock_thumbnail:hover div.favorite_icon button{
    opacity: 1;
    filter: alpha(opacity=0);
    -moz-opacity: 1.0;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

img.incart:hover　.download_icon {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}


a img.cart {
    width: 30px;
}

img.incart {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 140px;
    object-fit: cover;
}


/*商品一覧の画像*/
.mycart_box {
    color: #4c4c4c;
    font-weight: bold;
    text-align: center;
    //margin-top: 24px;
    padding: 0px;
    /*商品一覧の余白をなくす*/
    font-size: 1.1em;
    background-color: #fefefe;
    width: 100%;
}

/*商品一覧の余白をなくす*/
.img_box {
    padding: 0;
}


/*カートのページでは画像の上下に余白*/
.mycart_box_incart {
    padding: 8px 0;
}

/*-----
single
-----*/
.ditail_image {
    width: 100%
}


/*-----
cart
-----*/
.buy-btn {
    margin: 40px auto 60px;
    width: 200px;
    display: block;
    background-color: #ff5c73;
}

.ball {
    position: absolute;
}

.pagenate {
    width: 200px;
    margin: 20px auto;
}
