

main {
    background: #ffffffe3;
}

/*------
parts
-----*/
.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: skyblue;
    text-align: center;
    line-height: 20px;
}

#search_form {
    display: flex;
    width: 100%;
}

.added_favorite i {
    color: $pink; 
}

.icon_expert {
    opacity: 0; //普段iconの説明は透明
    background-color: #adb5bd99;
    color:white;
    padding:5px;
    border-radius: 10px;
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  line-height: unset !important;
}/*fontawesomeの余白調整*/

/*----
検索ボックス
-----*/
span.genrebox {
    width: 30%;
}

/*検索ボックスのジャンル選択プルダウン*/
select#genre_select {
    border-radius: 1rem 0 0 1rem;
    border-right: 0px;
}

//検索プルダウンのまるみ
.stock_thumbnail {
    position: relative;
}

button#search_button {
    border-radius: 0 1rem 1rem 0 !important;
    border-left: 0;
    background-color: #fff;
    border-color: #ced4da;
}

#search_keyword {
    border-left: 0;
    border-right: 0;
}

input#search_keyword {
    border-radius: 0;
}

/*---
footer
--*/
/*footer色*/
footer.footer_design.bg-dark {
    color: #fff;
}

.footer_design {
    text-align: center;
    padding: 60px;
}

/*---
archive
---*/
/*サムネイルの左下に出るジャンル判別アイコン*/
.genre_icon {
    color: #adb5bd99;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    bottom: 0%;
    left: 0%;
    margin: 8px;
}

.purchased_txt {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

div.favorite_icon {
    position: absolute;
    top: 0%;
    right: 0%;
}

/*お気に入りボタンデザイン*/
div.favorite_icon button {
    color: #adb5bd99;
    //display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 8px;
    background-color: #adb5bd99;
    border: none;
    outline: none;
    padding: 0;
    appearance: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
}

/*ダウンロードボタンデザイン*/
div.download_icon{
    bottom: 0%;
    right: 8px;
    position: absolute;
}

div.download_icon button {
    color: #adb5bd99;
    //display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0px;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    appearance: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/*マウスオンされるまで透明*/
div.download_icon button  {
    opacity: 0;
}



/*画像にマウスオンでアイコン出現*/
/*スマホだと表示できないの考え中*/
div.stock_thumbnail:hover div.mouseon_icon button {
    opacity: 0.5;
/*     filter: alpha(opacity=0);
    -moz-opacity: 1.0;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; */
}


/*アイコンにマウスオンでアイコン明るく*/
div.mouseon_icon button:hover {
    opacity: 1.0 !important;
    filter: alpha(opacity=0);
    -moz-opacity: 1.0;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}


/*マウスオンで画像を暗く*/
div.stock_thumbnail:hover img.not_purchased {
    filter: brightness(50%);
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

/*購入済み商品は元から暗く*/
img.purchased {
    filter: brightness(50%);
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

a img.cart {
    width: 30px;
}

img.incart {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 140px;
    object-fit: cover;
}


/*商品一覧の画像*/
.mycart_box {
    color: #4c4c4c;
    font-weight: bold;
    text-align: center;
    //margin-top: 24px;
    padding: 0px;
    /*商品一覧の余白をなくす*/
    font-size: 1.1em;
    background-color: #fefefe;
    width: 100%;
}

/*商品一覧の余白をなくす*/
.img_box {
    padding: 0;
}


/*カートのページでは画像の上下に余白*/
.mycart_box_incart {
    padding: 8px 0;
}

/*-----
single
-----*/
div#stock_info li {
    background: transparent;
}//データ情報詳細背景透明


.ditail_image {
    width: 100%
}

div#single_form .btn {
    margin: 5px;
}/*ボタンの間隔*/

div#author{
    padding:5px;
}/*投稿者ブロック余白*/


div#author img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding :5px;
    object-fit: cover;//縦横比固定
}/*投稿者アイコン*/

.inline-flex{
    display: inline-flex;
}
.inline-flex form {
    padding: 5px;
}

/*-----
cart
-----*/
.buy-btn {
    margin: 40px auto 60px;
    width: 200px;
    display: block;
    background-color: #ff5c73;
}

.ball {
    position: absolute;
}

.pagenate {
    width: 200px;
    margin: 20px auto;
}


/*-----
mypage
-----*/
div#preview img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #545b6252;
}

table {
    table-layout: fixed;
    width: 100%;
}

th.table_subject {
    width: 30%;
}

td.table_content {
    width: 70%;
}

.invalid_message{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}/*バリテーションデザイン*/

/*-----
新規作品投稿(stock/create)
-----*/
div#stockPreview img {
    max-width: 100%;
}

#previewFile{
    max-width: 100%;    
}

/*-----
購入履歴
-----*/
.loopbuttton {
    margin: 2px auto 25px;
}

/*-----
自分の投稿一覧
-----*/
img.myPost {
    max-width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}

.buttonArea{
    position:relative;
    padding-top: 5px;
}

.jumpButton {
      position: absolute;
      right: 0;
      bottom: 0;
      display:inline-flex;
      padding: 0px 20px 0px 0px;
}

.table{
	word-break: break-word;
	word-wrap: break-word;
}

/*-----
自分の投稿詳細・編集
-----*/
.dammy-form {
    margin-right:0.75em;
}//form独特の余白をボタンに与えたい場合に使う

.returnblock{
    padding:0 0.75em 0 0;
}//戻るリンクの余白

/*-----
home
-----*/
.modal-content {
    color: #212529;
}//モーダルが親テーブルのスタイルを受け継いでしまうので修正


.modal-content th, .modal-content td {
    border-top: 1px solid #dee2e6;
}//モーダルが親テーブルのスタイルを受け継いでしまうので修正

.modal-content table {
    border-collapse: initial;
}

/*-----
ボタン関連
-----*/
.btn-right {
    display: block;
    margin: 0 0 0 auto;
}//ボタン右寄せ

.btn-right-continue{
    display: block;
    margin:16px 0 0 auto;
}//ボタン右寄せ2つ目以降
